body {
    background-color: aqua;
    padding: 30px;
}

.loginpage {
    width: 100%;
    height: 100%;
}

.pagelogin {
    margin: 0 auto;
    width: 500px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 5px 5px 5px 3px;
    margin-top: 188px;
}
